{% extends 'business/base.html' %}

{% block title %}Register - U-Connect{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Join U-Connect</h2>
    <form method="post">
        {% csrf_token %}
        
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                <div class="error-message register-error-container">
                    {% for error in field.errors %}
                        <p class="register-error-text">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {% endfor %}
        
        <button type="submit" class="btn-submit">Register</button>
    </form>
    <p class="register-login-link">
        Already have an account? <a href="{% url 'users:login' %}" class="register-login-anchor">Login here</a>
    </p>
</div>
{% endblock %}