{% extends 'business/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
    <h1>About Us </h1>
    <p>U-Connect is a marketplace dedicated to connecting buyers and sellers in a seamless and efficient manner. Our mission is to provide a platform where users can easily find and purchase products that meet their needs.</p>
    <p>Founded in 2024, U-Connect has quickly grown to become a trusted name in the online marketplace industry. We pride ourselves on our user-friendly interface, secure transactions, and excellent customer service.</p>
    <p>Whether you're looking for the latest gadgets, fashion trends, or unique handmade items, U-Connect has something for everyone. Join us today and experience the future of online shopping!</p>
{% endblock %}