{% extends 'business/base.html' %}

{% block title %}Sell Item - U-Connect{% endblock %}

{% block content %}
<div class="form-container sell-container container-mobile-full">
    <h2>{{ title|default:"Sell an Item" }}</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form-grid">
        {% for field in form %}
        <div class="form-group {% if field.name == 'description' %}full-width{% endif %}">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.help_text %}
                <p class="help-text-custom">{{ field.help_text }}</p>
            {% endif %}
            {% if field.errors %}
                <div class="error-text-custom">
                    {{ field.errors }}
                </div>
            {% endif %}
        </div>
        {% endfor %}
        </div>
        
        <button type="submit" class="btn-submit">{{ button_text|default:"Post Item" }}</button>
    </form>
</div>
{% endblock %}